.svgBox{
    width:100vw;
    height:100vh;
}

.myButton{
    color:green;
    background-color: snow;
    border-color: green;
    box-shadow: 5px 5px 5px #888888;
    position: fixed;
    bottom: 100;
    right: 100;

}
